/* styles/VerticalSlider.module.css */
.verticalSlider {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-rows: repeat(4, 1fr); /* 4개의 행으로 정의 */
    width: 100%;
    align-items: center;
  }
  
  
  .sliderItem {

    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .sliderItem.active {
    color: #fff;
  }
  