/* styles/VerticalSlider.module.css */
.verticalSlider {
    display: grid;
    margin: 0;
    padding: 0;
    height: auto;
    grid-template-rows: repeat(3, 1fr); /* 4개의 행으로 정의 */
    width: 100%;
    align-items: center;
  }
  
  
  .sliderItem {

    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .sliderItem.active {
    color: #fff;
  }


  @font-face {
    font-family: 'abc';
    src: url('/font/abc/HANAMDAUM_Body(Windows)_a.ttf') format('truetype');
}
