@media screen and (max-width:700px) and (min-width:500px){
    .CenterBtn{
        left: 42% !important;
    }
}
@media screen and (max-width:499px) and (min-width:404px){
    .CenterBtn{
        left: 42% !important;
    }
}
@media screen and (max-width:403px) and (min-width:10px){
    .CenterBtn{
        left:37% !important;
    }
}

@font-face {
    font-family: 'abc';
    src: url('/font/abc/HANAMDAUM_Body(Windows)_a.ttf') format('truetype');
}


.Slider{
    width: 100%;
    position: relative;
    height: 100vh;
    top: 0;
    bottom: 0;
}
.Slider img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.CenterBtn{
    position: absolute;
    width: 120px;
    z-index: 2;
    top: 47%;
    left: 45%;
}
.CenterBtn button{
    font-size: 15px;
    font-family: 'abc';
    font-weight: bold;
    color:  white;
    width: 120px;
    height: 60px;
    border: 3px solid white;
    background-color: rgba(0, 0, 0, 0); /* 완전 투명 */

}