@media screen and (max-width:3000px) and (min-width:2501px){
    .MenuItem{
        height: 750px !important;
    } 
    .MenuP{
        font-size: 28px;
    }
}


@media screen and (max-width:2500px) and (min-width:2393px){
    .MenuItem{
        height: 650px !important;
    }
    .MenuP{
        font-size: 22px;
    } 
}

@media screen and (max-width:1666px) and (min-width:1563px){

    #center{
        margin-left:2% !important;
        margin-right: 2% !important;
    }
    .MenuP{
        font-size: 27px;
    } 
}

@media screen and (max-width:1562px) and (min-width:1531px){

    #center{
        margin-left:1% !important;
        margin-right: 1% !important;
    }
    .MenuP{
        font-size: 27px;
    } 
}
@media screen and (max-width:1530px) and (min-width:1200px){

    #center{
        margin-left:2% !important;
        margin-right: 2% !important;
    }
    .MenuP{
        font-size: 27px;
    } 
    .MenuItem{
        float: left;
        width: 30% !important;
        height: 450px !important;
    } 
}




.MenuLi img{
    width: 100%;
}
.Menu{
    height: auto;
    float: left;
    max-width: 3000px;

    width: 100%;
}
.MenuLi{
    width: 100% ;
}
.MenuItem{
    width: calc(30% );
    height: 500px;
    float: left;
} 
.MenuItem img{
    height: 100%;    
    border: 1px solid white;
    
}
.MenuName{

    width: 50%;
    float: left;
}
.Price{
    margin-right: 0%;
    text-align: right;
    float: right;
    color:gray;
}
#center{
    margin-left:5%;
    margin-right: 5%;
}
.MenuP{
    width: 100%;
    background-color: blue;
}