@media screen and (max-width:3000px) and (min-width:2501px){
    .MenuItem{
        height: 750px !important;
    } 
    .MenuP{
        font-size: 28px;
    }
}


@media screen and (max-width:2500px) and (min-width:2393px){
    .MenuItem{
        height: 650px !important;
    }
    .MenuP{
        font-size: 22px;
    } 
}


.MenuLi img{
    width: 100%;
}
.Menu{
    float: left;
    height: 100%;
    max-width: 3000px;
    background-color: pink !important;

    width: 100%;
}
.MenuLi{
    width: 100% ;
}
.MenuItem{
    width: calc(30% );
    height: 500px;
    float: left;
    min-width: 400px;
} 
.MenuItem img{
    height: 100%;    
    border: 1px solid white;
    
}
.MenuName{

    width: 50%;
    float: left;
}
.Price{
    margin-right: 0%;
    text-align: right;
    float: right;
    color:gray;
}
#center{
    margin-left:5%;
    margin-right: 5%;
}
.MenuP{
    width: 100%;
    background-color: blue;
}